In [1]:
import pandas as pd

In [3]:
nutrition = pd.read_csv('data/Child Nutrition/Nutrition__Physical_Activity__and_Obesity_-_Youth_Risk_Behavior_Surveillance_System.csv')

In [5]:
nutrition.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2019,2019,AK,Alaska,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who achieve...,NaN,Value,...,"(64.845079957001, -147.722059036)",PA,PA1,Q048,VALUE,2,Race/Ethnicity,Asian,RACE,RACEASN
1,2019,2019,AZ,Arizona,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(34.86597028, -111.763811277)",OWS,OWS1,Q038,VALUE,4,Total,Total,OVR,OVERALL
2,2019,2019,DC,District of Columbia,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(38.890371385, -77.031961127)",OWS,OWS1,Q038,VALUE,11,Total,Total,OVR,OVERALL
3,2019,2019,IL,Illinois,Youth Risk Behavior Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of students in grades 9-12 who partici...,NaN,Value,...,"(40.485010283, -88.997710178)",PA,PA1,Q049,VALUE,17,Grade,10th,GRADE,GRADE10
4,2019,2019,MD,Maryland,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have an...,NaN,Value,...,"(39.290580964, -76.609260111)",OWS,OWS1,Q039,VALUE,24,Race/Ethnicity,2 or more races,RACE,RACE2PLUS

#### Taking a quick look at available data

In [6]:
nutrition.YearStart.unique()

array([2019, 2011, 2017, 2005, 2013, 2015, 2009, 2007, 2001, 2003],
      dtype=int64)

In [7]:
nutrition.Topic.unique()

array(['Physical Activity - Behavior', 'Obesity / Weight Status',
       'Sugar Drinks - Behavior', 'Fruits and Vegetables - Behavior',
       'Television Viewing - Behavior'], dtype=object)

In [8]:
nutrition.Question.unique()

array(['Percent of students in grades 9-12 who achieve 1 hour or more of moderate-and/or vigorous-intensity physical activity daily',
       'Percent of students in grades 9-12 who have obesity',
       'Percent of students in grades 9-12 who participate in daily physical education',
       'Percent of students in grades 9-12 who have an overweight classification',
       'Percent of students in grades 9-12 who drank regular soda/pop at least one time per day',
       'Percent of students in grades 9-12 who consume vegetables less than 1 time daily',
       'Percent of students in grades 9-12 who consume fruit less than 1 time daily',
       'Percent of students in grades 9-12 watching 3 or more hours of television each school day'],
      dtype=object)

In [10]:
nutrition.StratificationCategory1.unique()

array(['Race/Ethnicity', 'Total', 'Grade', 'Gender'], dtype=object)

In [12]:
nutrition.Stratification1.unique()

array(['Asian', 'Total', '10th', '2 or more races', '9th', 'Female',
       'Hispanic', '11th', '12th', 'Non-Hispanic White', 'Male',
       'Non-Hispanic Black', 'American Indian/Alaska Native',
       'Hawaiian/Pacific Islander'], dtype=object)

In [49]:
nutrition.Data_Value_Type.unique()

array(['Value'], dtype=object)

#### how many locations does the complete data set have

In [13]:
len(nutrition.LocationDesc.unique())
#52

52

#### narrowing the data to just obesity/weight status

In [24]:
obesity = nutrition[nutrition['Class'] == 'Obesity / Weight Status']
obesity.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
1,2019,2019,AZ,Arizona,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(34.86597028, -111.763811277)",OWS,OWS1,Q038,VALUE,4,Total,Total,OVR,OVERALL
2,2019,2019,DC,District of Columbia,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(38.890371385, -77.031961127)",OWS,OWS1,Q038,VALUE,11,Total,Total,OVR,OVERALL
4,2019,2019,MD,Maryland,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have an...,NaN,Value,...,"(39.290580964, -76.609260111)",OWS,OWS1,Q039,VALUE,24,Race/Ethnicity,2 or more races,RACE,RACE2PLUS
5,2011,2011,RI,Rhode Island,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(41.708280193, -71.522470314)",OWS,OWS1,Q038,VALUE,44,Grade,9th,GRADE,GRADE09
6,2019,2019,MT,Montana,Youth Risk Behavior Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of students in grades 9-12 who have ob...,NaN,Value,...,"(47.066528972, -109.424420645)",OWS,OWS1,Q038,VALUE,30,Grade,10th,GRADE,GRADE10

In [25]:
obesity.Question.unique()

array(['Percent of students in grades 9-12 who have obesity',
       'Percent of students in grades 9-12 who have an overweight classification'],
      dtype=object)

In [27]:
obesity.Data_Value_Unit.unique()

array([nan])

In [26]:
obesity.columns

Index(['YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc', 'Datasource',
       'Class', 'Topic', 'Question', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value', 'Data_Value_Alt', 'Data_Value_Footnote_Symbol',
       'Data_Value_Footnote', 'Low_Confidence_Limit', 'High_Confidence_Limit ',
       'Sample_Size', 'Total', 'Gender', 'Grade', 'Race/Ethnicity',
       'GeoLocation', 'ClassID', 'TopicID', 'QuestionID', 'DataValueTypeID',
       'LocationID', 'StratificationCategory1', 'Stratification1',
       'StratificationCategoryId1', 'StratificationID1'],
      dtype='object')

#### checking to see if there is any difference between start and end years

In [31]:
obesity['year_diff'] = obesity['YearStart'] - obesity['YearEnd']
#no differences

C:\Users\alecb\AppData\Local\Temp\ipykernel_41364\3717231078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obesity['year_diff'] = obesity['YearStart'] - obesity['YearEnd']

In [32]:
obesity['year_diff'].unique()

array([0], dtype=int64)

#### reducing obesity df to only the columns I need / may need

In [35]:
obesity = obesity[['YearStart', 'LocationDesc', 'Question', 'Data_Value', 'Data_Value_Alt',
         'Data_Value_Footnote', 'Sample_Size', 'Total', 'GeoLocation', 'StratificationID1']]
obesity

,YearStart,LocationDesc,Question,Data_Value,Data_Value_Alt,Data_Value_Footnote,Sample_Size,Total,GeoLocation,StratificationID1
1,2019,Arizona,Percent of students in grades 9-12 who have ob...,13.3,13.3,NaN,1739.0,Total,"(34.86597028, -111.763811277)",OVERALL
2,2019,District of Columbia,Percent of students in grades 9-12 who have ob...,17.1,17.1,NaN,8978.0,Total,"(38.890371385, -77.031961127)",OVERALL
4,2019,Maryland,Percent of students in grades 9-12 who have an...,16.7,16.7,NaN,2573.0,NaN,"(39.290580964, -76.609260111)",RACE2PLUS
5,2011,Rhode Island,Percent of students in grades 9-12 who have ob...,11.5,11.5,NaN,1199.0,NaN,"(41.708280193, -71.522470314)",GRADE09
6,2019,Montana,Percent of students in grades 9-12 who have ob...,12.2,12.2,NaN,1045.0,NaN,"(47.066528972, -109.424420645)",GRADE10
...,...,...,...,...,...,...,...,...,...,...
40081,2001,Vermont,Percent of students in grades 9-12 who have an...,10.7,10.7,NaN,3359.0,NaN,"(43.625381239, -72.517640791)",FEMALE
40084,2011,Virginia,Percent of students in grades 9-12 who have an...,21.8,21.8,NaN,188.0,NaN,"(37.542680674, -78.457890463)",RACEHIS
40085,2009,Wisconsin,Percent of students in grades 9-12 who have an...,16.6,16.6,NaN,527.0,NaN,"(44.393191174, -89.816370742)",GRADE09
40092,2003,New Hampshire,Percent of students in grades 9-12 who have ob...,9.6,9.6,NaN,1125.0,NaN,"(43.655950113, -71.50036092)",RACEWHT
40093,2011,New Hampshire,Percent of students in grades 9-12 who have ob...,NaN,NaN,Data not available because sample size is insu...,NaN,NaN,"(43.655950113, -71.50036092)",RACEHPI

In [37]:
len(obesity['LocationDesc'].unique())
#52 locations still

52

#### how many entries do not have data because of insufficient sample size

In [38]:
obesity['Data_Value_Footnote'].unique()

array([nan,
       'Data not available because sample size is insufficient or data not reported.'],
      dtype=object)

In [42]:
len(obesity[obesity['Data_Value_Footnote'] == 'Data not available because sample size is insufficient or data not reported.' ])
#2890 out of 11228 or 26%

2890

#### if we only look at totals does that percentage decrease

In [44]:
obesity_totals = obesity[obesity['StratificationID1'] == 'OVERALL']
obesity_totals

,YearStart,LocationDesc,Question,Data_Value,Data_Value_Alt,Data_Value_Footnote,Sample_Size,Total,GeoLocation,StratificationID1
1,2019,Arizona,Percent of students in grades 9-12 who have ob...,13.3,13.3,NaN,1739.0,Total,"(34.86597028, -111.763811277)",OVERALL
2,2019,District of Columbia,Percent of students in grades 9-12 who have ob...,17.1,17.1,NaN,8978.0,Total,"(38.890371385, -77.031961127)",OVERALL
15,2017,Vermont,Percent of students in grades 9-12 who have an...,14.1,14.1,NaN,18504.0,Total,"(43.625381239, -72.517640791)",OVERALL
37,2017,North Dakota,Percent of students in grades 9-12 who have ob...,14.9,14.9,NaN,2085.0,Total,"(47.475319779, -100.118421049)",OVERALL
61,2009,Indiana,Percent of students in grades 9-12 who have ob...,12.6,12.6,NaN,1462.0,Total,"(39.766910452, -86.149960194)",OVERALL
...,...,...,...,...,...,...,...,...,...,...
39947,2005,Rhode Island,Percent of students in grades 9-12 who have an...,15.1,15.1,NaN,2131.0,Total,"(41.708280193, -71.522470314)",OVERALL
39964,2003,Idaho,Percent of students in grades 9-12 who have ob...,7.4,7.4,NaN,1685.0,Total,"(43.682630005, -114.363730042)",OVERALL
39982,2005,Indiana,Percent of students in grades 9-12 who have an...,14.2,14.2,NaN,1501.0,Total,"(39.766910452, -86.149960194)",OVERALL
40013,2015,Vermont,Percent of students in grades 9-12 who have ob...,12.4,12.4,NaN,18505.0,Total,"(43.625381239, -72.517640791)",OVERALL
40017,2003,Ohio,Percent of students in grades 9-12 who have ob...,13.8,13.8,NaN,1185.0,Total,"(40.060210141, -82.404260056)",OVERALL

In [46]:
len(obesity_totals[obesity_totals['Data_Value_Footnote'] == 'Data not available because sample size is insufficient or data not reported.' ])
#yes, all entries have sufficient sample sizes at the 'total' level

0

In [54]:
obesity_totals = obesity_totals.drop(columns = ['Data_Value_Footnote'])

KeyError: "['Data_Value_Footnote'] not found in axis"

In [52]:
obesity_totals.head()

,YearStart,LocationDesc,Question,Data_Value,Data_Value_Alt,Sample_Size,Total,GeoLocation,StratificationID1
1,2019,Arizona,Percent of students in grades 9-12 who have ob...,13.3,13.3,1739.0,Total,"(34.86597028, -111.763811277)",OVERALL
2,2019,District of Columbia,Percent of students in grades 9-12 who have ob...,17.1,17.1,8978.0,Total,"(38.890371385, -77.031961127)",OVERALL
15,2017,Vermont,Percent of students in grades 9-12 who have an...,14.1,14.1,18504.0,Total,"(43.625381239, -72.517640791)",OVERALL
37,2017,North Dakota,Percent of students in grades 9-12 who have ob...,14.9,14.9,2085.0,Total,"(47.475319779, -100.118421049)",OVERALL
61,2009,Indiana,Percent of students in grades 9-12 who have ob...,12.6,12.6,1462.0,Total,"(39.766910452, -86.149960194)",OVERALL

#### Dropping and renaming columns

In [56]:
obesity_totals = obesity_totals.drop(columns = ['Data_Value_Alt'])

In [60]:
obesity_totals.rename(columns = {'YearStart': 'Year', 'LocationDesc': 'Location',
                                'Data_Value': 'Percentage_Value'})

,Year,Location,Question,Percentage_Value,Sample_Size,Total,GeoLocation,StratificationID1
1,2019,Arizona,Percent of students in grades 9-12 who have ob...,13.3,1739.0,Total,"(34.86597028, -111.763811277)",OVERALL
2,2019,District of Columbia,Percent of students in grades 9-12 who have ob...,17.1,8978.0,Total,"(38.890371385, -77.031961127)",OVERALL
15,2017,Vermont,Percent of students in grades 9-12 who have an...,14.1,18504.0,Total,"(43.625381239, -72.517640791)",OVERALL
37,2017,North Dakota,Percent of students in grades 9-12 who have ob...,14.9,2085.0,Total,"(47.475319779, -100.118421049)",OVERALL
61,2009,Indiana,Percent of students in grades 9-12 who have ob...,12.6,1462.0,Total,"(39.766910452, -86.149960194)",OVERALL
...,...,...,...,...,...,...,...,...
39947,2005,Rhode Island,Percent of students in grades 9-12 who have an...,15.1,2131.0,Total,"(41.708280193, -71.522470314)",OVERALL
39964,2003,Idaho,Percent of students in grades 9-12 who have ob...,7.4,1685.0,Total,"(43.682630005, -114.363730042)",OVERALL
39982,2005,Indiana,Percent of students in grades 9-12 who have an...,14.2,1501.0,Total,"(39.766910452, -86.149960194)",OVERALL
40013,2015,Vermont,Percent of students in grades 9-12 who have ob...,12.4,18505.0,Total,"(43.625381239, -72.517640791)",OVERALL
40017,2003,Ohio,Percent of students in grades 9-12 who have ob...,13.8,1185.0,Total,"(40.060210141, -82.404260056)",OVERALL

In [61]:
obesity_totals.to_csv('cleaned_data/USA_child_obesity_2001_2019.csv')